.myrow-container{
    margin: 35px auto;
}

.panel-title{
    font-size: 180%;
    font-family: "Roboto", sans-serif;
    margin-bottom: 15px;
}

.horisontal-spacing {
    margin-left: 25px;
    margin-right: 25px;
}

tbody th {
    text-align: center;
}